<?xml version="1.0"?>
<config>
    <modules>
        <Everypay_Payment>
            <version>0.1.0</version>
        </Everypay_Payment>
    </modules>
    <global>
        <models>
            <everypay>
                <class>Everypay_Payment_Model</class>
            </everypay>
        </models>
        <helpers>
            <everypay>
                <class>Everypay_Payment_Helper</class>
            </everypay>
        </helpers>
        <blocks>
            <everypay>
                <class>Everypay_Payment_Block</class>
            </everypay>
        </blocks>
        <resources>
            <everypay_setup>
                <setup>
                    <module>Everypay_Payment</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </everypay_setup>
            <everypay_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </everypay_write>
            <everypay_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </everypay_read>
        </resources>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Mage_Paygate>
                    <files>
                        <default>Everypay.csv</default>
                    </files>
                </Mage_Paygate>
            </modules>
        </translate>
        <layout>
            <updates>
                <everypay>
                    <file>everypay.xml</file>
                </everypay>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <everypay>
                    <file>everypay.xml</file>
                </everypay>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <output_everypay_button>
                        <type>singleton</type>
                        <class>Everypay_Payment_Model_PaymentMethodObserver</class>
                        <method>outputEverypayButton</method>
                    </output_everypay_button>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
        </events>
        <routers>
            <everypay>
                <use>standard</use>
                <args>
                    <module>Everypay_Payment</module>
                    <frontName>everypay</frontName>
                </args>
            </everypay>
        </routers>
    </frontend>

    <default>
        <payment>
            <everypay>
                <model>everypay/everypay</model>
                <active>1</active>
                <title>Credit Card, Debit Card, 3D Secure with Everypay</title>
                <order_status>processing</order_status>
                <currency>EUR</currency>
                <sort_order>0</sort_order>
                <cctypes>VI,MC</cctypes>
                <payment_action>authorize_capture</payment_action>
                <create_order_before>1</create_order_before>
                <allowspecific>0</allowspecific>
            </everypay>
        </payment>
    </default>
</config>
